*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    --bg-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency:hsla(0, 0%, 100%, 0.564);

    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --ff-poppins: "Poppins", sans-serif;

    --fw-regular: 400;
    --fw-bold: 800;

    --fs-lg: 1.5rem;
    --fs-base: 0.875rem;
    --fs-sm: 0.875rem;

    --py-sm: 1rem;
    --py-md: 1rem;
    --py-lg: 2rem;

    --px-base: 1rem;

}

html{
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    font-size: var(--fs-base);
    
    overflow-x: hidden;
    
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
}

h1{
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

img{
    max-width: 100%;
    display: inline-block;
}

a{
    text-decoration: none;
    color: var(--text-color-secondary);
}

@media (width >=80em){
    :root{
        --fs-lg: 2rem;
        --fs-base:0.875rem;
        --fs-sm: 1rem;

        --py-sm: 1.25rem;
        --py-md: 1.5rem;
        --py-lg: 2rem;

        --px-base: 2rem;
    }
}